<!--Id of the Azure AD application-->
<add key="applicationId" value="eabd646b-c22b-4ab2-9901-05c7ea9ed106" />
<!--Id of the workspace where your reports reside-->
<add key="workspaceId" value="50046715-1801-48e9-b4a0-270bc5c32a73" />

<!-- The id of the report to embed. If empty, will use the first report in group -->
<add key="reportId" value="403a4558-cc79-49ee-af1c-23b3f6affd0c" />

<add key="authorityUrl" value="https://login.windows.net/common/oauth2/authorize/" />
<add key="resourceUrl" value="https://analysis.windows.net/powerbi/api" />
<add key="apiUrl" value="https://api.powerbi.com/" />

<!-- Note: Do NOT leave your credentials on code. Save them in secure place. -->
<add key="pbiUsername" value="" />
<add key="pbiPassword" value="" />